body{
	background-color: #ecf0f1;
	color:#3498db;
	text-align: center;
}

.heading{
	text-align: center;
	font-family: Courier, Monaco, monospace;
}

.title{
	text-align: center;
	font-family: Courier, Monaco, monospace;
	border: 3px solid #bdc3c7;
	box-shadow: 1px 1px 3px #4C4843;
	border-width: 4px;
	border-color:##34495e;
	font-style:italic;
}

#image{
	position: relative;

}


p.button {
  background: transparent url('bg_button_a.gif') no-repeat scroll top right;
  position: relative
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

