<h1> Photo Timeline</h1>
<%= link_to 'New Post', new_post_path %>
<% @posts.each do |post| %>
	<p class='title'>Title: <%= post.title %></p></br>
	<p id= "image"><%= image_tag post.image.url %></p></br>
	<%= button_to "delete", post, :method=>:delete, :class=>:destroy %>
<% end %>
